/* font-family: "Playfair Display", serif; */

:root {
  --max-width: 1700px;
  --gap: 32px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.hero {
  overflow: hidden;
  background-image: url("img/4f2ef19d4452a25332cafe4fc0bf82a4d7eb8f87.jpg");
  padding: 2rem 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  aspect-ratio: 14/9;
}

hr {
  max-width: 1630px;
}

.navigation {
  display: flex;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  width: auto;
}

/* //////////////////////////////// */
.hero-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
}

h1 {
  color: #f3eee5;
  font-size: 70px;
  line-height: 80px;
  word-spacing: 0.5rem;
  font-family: "Playfair Display", serif;
}

.sub-title {
  font-family: "inter", serif;
  color: #f3eee5;
  font-size: 20px;
  margin-top: -1rem;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -2%;
}

.hero-main button {
  height: 50px;
  width: 230px;
  margin-top: 2rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.sub-img p {
  color: #f3eee5;
  font-size: 14px;
  margin-left: 1rem;
  font-family: "inter", serif;
}

.sub-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.btm {
  display: flex;
  align-items: end;
  gap: -5px;
  justify-content: right;
}

.img1,
.img2,
.img3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-left: -15px;
  align-items: center;
}

.img1 {
  border: 0;
  border-radius: 0;
  margin-left: 0;
  height: 57px;
  width: 55px;
  margin-bottom: -0.2rem;
}

.sub-img p {
  color: #f3eee5;
  font-size: 14px;
  margin-left: 1rem;
  font-family: "inter", serif;
}

/* //////////////////////////////// */

.last-div {
  display: flex;
  padding: 3rem 0;
  max-width: var(--max-width);
  margin-top: 3rem;
}

.last1 {
  background-color: #251c1a;
  display: flex;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 7rem;
  padding-left: 5rem;
}

.last1 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 2rem 0;
}

.p1p2 {
  line-height: 2px;
}

.last-p1 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #f3eee5;
  font-weight: 600;
}

.last-p2 {
  font-size: 16px;
  line-height: 2px;
  font-family: "inter", serif;
  color: #767269;
}

.last2 {
  background-color: #f3eee5;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
  padding: 2rem 7rem;
  padding-left: 5rem;
  width: 100%;
}

.last2 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 2rem 0;
}

.mid-p1 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #251c1a;
  font-weight: 700;
}

.mid-p2 {
  font-size: 16px;
  line-height: 2px;
  font-family: "inter", serif;
  color: #251c1a8f;
}

.last3 {
  background-color: #251c1a;
  display: flex;
  gap: 2rem;
  width: 100%;

  box-sizing: border-box;
  padding: 2rem 7rem;
  padding-left: 5rem;
}

.last3 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 2rem 0;
}

/* //////////////////////////////////// */

.about {
  background-color: #f3eee5;
  overflow: hidden;
}

.main-abt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15rem 0;
  padding-right: 10rem;
  max-width: var(--max-width);
  height: 100%;
  padding-bottom: 0;
}

.sub-abt {
  font-size: 18px;
  color: #251c1a;
  font-family: "inter", serif;
  font-weight: 500;
}

h2 {
  font-size: 56px;
  color: #251c1a;
  font-family: "playfair display", serif;
  font-weight: 700;
}

.sub-txt {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #6e7783;
}

.zigzag {
  width: 284px;
  height: 23px;
  margin-top: -5rem;
}

.abt-div2 {
  display: flex;
  justify-content: right;
}
.percent {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  justify-content: right;
  gap: 5rem;
}
.percent img {
  width: 78px;
  height: 92px;
  z-index: 999;
}

.beaut {
  width: 470px;
  height: 545px;
  opacity: 1;
  top: -0.02px;
  z-index: 3;
  left: 53px;
  margin-left: -3rem;
}

.img-1 {
  margin-left: -31rem;
}

.img-2 {
  margin-left: -3rem;
}

.img-3 {
  margin-left: -33rem;
}

.out-img {
  width: 661px;
  height: 193px;
  rotate: 33.29deg;
  margin-left: -7rem;
  margin-top: -3rem;
}

/* ////////////////////////////////////// */

.service {
  background-color: #251c1a;
  overflow: hidden;
}

.serv-div {
  padding-bottom: 4rem;
}

.serv-p {
  font-size: 18px;
  color: #f3eee5;
  font-family: "inter", serif;
  font-weight: 400;
}

.serv-h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 67px;
  line-height: 88px;
  color: #f3eee5;
  margin-top: 0;
  margin-bottom: 0;
}

.comp-p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #767269;
  line-height: 24px;
  font-family: "DM Sans", sans-serif;
}

.serv1 {
  display: flex;
  padding-top: 6rem;
  justify-content: space-between;
  gap: 10rem;
  padding-bottom: 4rem;
}

.serv1-img {
  width: 470px;
  height: 377px;
  z-index: 5;
}

.img3-div {
  justify-content: right;
  padding-right: 13rem;
}

.zig2 {
  margin-top: -5rem;
}

.in-serv {
  line-height: -1px;
}

.one4 {
  background-color: #f3eee5;
  align-items: center;
  text-align: center;
  /* width: 360px;
  height: 272px; */
  border-radius: 30px;
  padding: 2rem 2.5rem;
  padding-bottom: 1rem;
}

.second-div {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.one4 img {
  width: 80px;
  height: 80px;
}

.min-head {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}

.min-sub {
  font-family: "inter", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
  color: #525252;
}

.third-div {
  text-align: right;
  margin-top: -37.5rem;
}

/* .sketch {
  width: 672px;
  height: 433px;
  margin-top: -10rem;
  z-index: 5;
} */

/* /////////////////////////////////////// */

.why {
  background-color: #f3eee5;
}
.why-us {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 0;
}

.triple-img {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.one,
.two {
  width: 244px;
  height: 244px;
  z-index: 1;
}

.one {
  margin-bottom: -10rem;
  margin-left: -5rem;
}

.two {
  margin-left: 7rem;
  margin-top: -9rem;
}

.mid {
  z-index: 500;
  width: 516px;
  border-radius: 12px;
  height: 499px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.us-head {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: -0;
}

.right-grid {
  padding-top: 5rem;
}

.third-zag {
  width: 10rem;
}

.descr-1 {
  font-family: "inter", serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.double-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 2rem;
  justify-content: left;
}

.mini-head {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.mini-descr {
  padding-right: 7rem;
  margin-top: -0.5rem;
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
}
