/* font-family: "Playfair Display", serif; */

:root {
  --max-width: 1700px;
  --gap: 32px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.hero {
  overflow: hidden;
  background-image: url("img/4f2ef19d4452a25332cafe4fc0bf82a4d7eb8f87.jpg");
  padding: 2rem 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  aspect-ratio: 14/9;
}

hr {
  max-width: 1630px;
}

.navigation {
  display: flex;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  width: auto;
}

/* //////////////////////////////// */
.hero-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
}

h1 {
  color: #f3eee5;
  font-size: 70px;
  line-height: 80px;
  word-spacing: 0.5rem;
  font-family: "Playfair Display", serif;
}

.sub-title {
  font-family: "inter", serif;
  color: #f3eee5;
  font-size: 20px;
  margin-top: -1rem;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -2%;
}

.hero-main button {
  height: 50px;
  width: 230px;
  margin-top: 2rem;
}

.sub-img p {
  color: #f3eee5;
  font-size: 14px;
  margin-left: 1rem;
  font-family: "inter", serif;
}

.sub-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.btm {
  display: flex;
  align-items: end;
  gap: -5px;
  justify-content: right;
}

.img1,
.img2,
.img3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-left: -15px;
  align-items: center;
}

.img1 {
  border: 0;
  border-radius: 0;
  margin-left: 0;
  height: 57px;
  width: 55px;
  margin-bottom: -0.2rem;
}

.sub-img p {
  color: #f3eee5;
  font-size: 14px;
  margin-left: 1rem;
  font-family: "inter", serif;
}

/* //////////////////////////////// */

.last-div {
  display: flex;
  padding: 3rem 0;
  max-width: var(--max-width);
  margin-top: 3rem;
}

.last1 {
  background-color: #251c1a;
  display: flex;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 7rem;
  padding-left: 5rem;
}

.last1 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 2rem 0;
}

.p1p2 {
  line-height: 2px;
}

.last-p1 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #f3eee5;
  font-weight: 600;
}

.last-p2 {
  font-size: 16px;
  line-height: 2px;
  font-family: "inter", serif;
  color: #767269;
}

.last2 {
  background-color: #f3eee5;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
  padding: 2rem 7rem;
  padding-left: 5rem;
  width: 100%;
}

.last2 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 2rem 0;
}

.mid-p1 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #251c1a;
  font-weight: 700;
}

.mid-p2 {
  font-size: 16px;
  line-height: 2px;
  font-family: "inter", serif;
  color: #251c1a8f;
}

.last3 {
  background-color: #251c1a;
  display: flex;
  gap: 2rem;
  width: 100%;

  box-sizing: border-box;
  padding: 2rem 7rem;
  padding-left: 5rem;
}

.last3 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 2rem 0;
}

/* //////////////////////////////////// */

.about {
  background-color: #f3eee5;
  overflow: hidden;
}

.main-abt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 0;
  padding-right: 10rem;
  max-width: var(--max-width);
  height: 100%;
  padding-bottom: 0;
}

.sub-abt {
  font-size: 18px;
  color: #251c1a;
  font-family: "inter", serif;
  font-weight: 500;
}

h2 {
  font-size: 56px;
  color: #251c1a;
  font-family: "playfair display", serif;
  font-weight: 700;
}

.sub-txt {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #6e7783;
}

.zigzag {
  width: 284px;
  height: 23px;
  margin-top: -5rem;
}

.abt-div2 {
  display: flex;
  justify-content: right;
}
.percent {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  justify-content: right;
  gap: 5rem;
}
.percent img {
  width: 78px;
  height: 92px;
  z-index: 999;
}

.beaut {
  width: 470px;
  height: 545px;
  opacity: 1;
  top: -0.02px;
  z-index: 3;
  left: 53px;
  margin-left: -3rem;
}

.img-1 {
  margin-left: -31rem;
}

.img-2 {
  margin-left: -3rem;
}

.img-3 {
  margin-left: -33rem;
}

.out-img {
  width: 661px;
  height: 193px;
  rotate: 25.29deg;
  margin-left: -5rem;
}
