/* font-family: "Playfair Display", serif; */

:root {
  --max-width: 1600px;
  --gap: 32px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.hero {
  overflow: hidden;
  background-image: url("img/4f2ef19d4452a25332cafe4fc0bf82a4d7eb8f87.jpg");
  padding: 2rem 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  aspect-ratio: 14/9;
}

hr {
  max-width: 1630px;
}

.navigation {
  display: flex;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  width: auto;
}

/* //////////////////////////////// */
.hero-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
}

h1 {
  color: #f3eee5;
  font-size: 70px;
  line-height: 80px;
  font-family: "Playfair Display", serif;
  backdrop-filter: blur(1px);
  margin-top: 2rem;
}

.sub-title {
  font-family: "inter", serif;
  color: #f3eee5;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -2%;
  backdrop-filter: blur(1px);
}

.hero-main button {
  backdrop-filter: blur(2px);
  font-size: 16px;
  height: 50px;
  width: 230px;
  margin-top: 4rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.sub-img p {
  color: #f3eee5;
  font-size: 14px;
  margin-left: 1rem;
  font-family: "inter", serif;
}

.sub-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.btm {
  display: flex;
  align-items: end;
  gap: -5px;
  justify-content: right;
}

.img1,
.img2,
.img3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-left: -15px;
  align-items: center;
}

.img1 {
  border: 0;
  border-radius: 0;
  margin-left: 0;
  height: 57px;
  width: 55px;
  margin-bottom: -0.2rem;
}

.sub-img p {
  color: #f3eee5;
  font-size: 14px;
  margin-left: 1rem;
  font-family: "inter", serif;
}

/* //////////////////////////////// */

.last-div {
  display: flex;
  padding: 3rem 0;
  max-width: var(--max-width);
  margin-top: 5rem;
}

.last1 {
  background-color: #251c1a;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 4rem 7rem;
  padding-left: 5rem;
  gap: 1rem;
}

.last1 img {
  width: 51px;
  height: 47px;
}

.p1p2 {
  line-height: 4px;
}

.last-p1 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #f3eee5;
  font-weight: 600;
}

.last-p2 {
  font-size: 16px;
  line-height: 4px;
  font-family: "inter", serif;
  margin-top: 2rem;
  color: #767269;
}

.p2 {
  margin-top: 1rem;
}

.last2 {
  background-color: #f3eee5;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
  padding: 4rem 7rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  width: 100%;
}

.last2 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 0 0;
}

.mid-p1 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #251c1a;
  font-weight: 700;
}

.mid-p2 {
  font-size: 16px;
  line-height: 2px;
  font-family: "inter", serif;
  color: #251c1a8f;
  margin-top: 2rem;
}

.p3 {
  margin-top: 1.2rem;
}

.last3 {
  background-color: #251c1a;
  display: flex;
  gap: 2rem;
  width: 100%;

  box-sizing: border-box;
  padding: 2rem 7rem;
  padding-left: 5rem;
}

.last3 img {
  width: 51px;
  height: 47px;
  opacity: 1;
  margin: 2rem 0;
}

/* //////////////////////////////////// */

.about {
  background-color: #f3eee5;
  overflow: hidden;
}

.main-abt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15rem 0;
  padding-right: 10rem;
  height: 100%;
  padding-bottom: 0;
}

.sub-abt {
  font-size: 18px;
  color: #251c1a;
  font-family: "inter", serif;
  font-weight: 500;
}

h2 {
  font-size: 56px;
  color: #251c1a;
  font-family: "playfair display", serif;
  font-weight: 700;
}

.sub-txt {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #6e7783;
  margin-top: 2rem;
}

.zigzag {
  width: 284px;
  height: 23px;
  margin-top: -5rem;
}

.first-div {
  margin-top: 4rem;
}

.abt-div2 {
  display: flex;
  justify-content: right;
}
.percent {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  justify-content: right;
  gap: 5rem;
}
.percent img {
  width: 78px;
  height: 92px;
  z-index: 999;
}

.beaut {
  width: 470px;
  height: 545px;
  opacity: 1;
  top: -0.02px;
  z-index: 3;
  left: 53px;
  margin-left: -3rem;
}

.img-1 {
  margin-left: -31rem;
}

.img-2 {
  margin-left: -3rem;
}

.img-3 {
  margin-left: -33rem;
}

.out-img {
  width: 661px;
  height: 193px;
  rotate: 33.29deg;
  margin-left: -7rem;
  margin-top: -3rem;
}

/* ////////////////////////////////////// */

.service {
  background-color: #251c1a;
  overflow: hidden;
}

.serv-div {
  padding-bottom: 4rem;
}

.serv-p {
  font-size: 18px;
  color: #f3eee5;
  font-family: "inter", serif;
  font-weight: 400;
}

.serv-h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 67px;
  line-height: 88px;
  color: #f3eee5;
  margin-top: 0;
  margin-bottom: 0;
}

.comp-p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #767269;
  line-height: 24px;
  font-family: "DM Sans", sans-serif;
}

.serv1 {
  display: flex;
  padding-top: 6rem;
  justify-content: space-between;
  gap: 10rem;
  padding-bottom: 4rem;
}

.serv1-img {
  width: 470px;
  height: 377px;
  z-index: 5;
}

.img3-div {
  justify-content: right;
  padding-right: 11rem;
}

.zig2 {
  margin-top: -5rem;
}

.in-serv {
  line-height: -1px;
}

.one4 {
  background-color: #f3eee5;
  align-items: center;
  text-align: center;
  /* width: 360px;
  height: 272px; */
  border-radius: 30px;
  padding: 2rem 2.5rem;
  padding-bottom: 1rem;
}

.second-div {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.one4 img {
  width: 80px;
  height: 80px;
}

.min-head {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}

.min-sub {
  font-family: "inter", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
  color: #525252;
  margin-top: 1rem;
}

.third-div {
  text-align: right;
  margin-top: -37.5rem;
}

/* .sketch {
  width: 672px;
  height: 433px;
  margin-top: -10rem;
  z-index: 5;
} */

/* /////////////////////////////////////// */

.why {
  background-color: #f3eee5;
}
.why-us {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 0;
}

.triple-img {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.one,
.two {
  width: 244px;
  height: 244px;
  z-index: 1;
}

.one {
  margin-bottom: -10rem;
  margin-left: -5rem;
}

.two {
  margin-left: 7rem;
  margin-top: -9rem;
}

.mid {
  z-index: 500;
  width: 516px;
  border-radius: 12px;
  height: 499px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.us-head {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: -0;
}

.right-grid {
  padding-top: 8rem;
}

.third-zag {
  width: 10rem;
  height: 1.2rem;
}

.descr-1 {
  font-family: "inter", serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  color: #6e7783;
}

.double-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 2rem;
  justify-content: left;
  gap: 2rem;
}

.mini-head {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.mini-descr {
  margin-top: 1rem;
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  color: #6e7783;
}

/* ///////////////////////////////////// */

.testimonials {
  background-color: #e7e2d8;
}

.says {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.quadra-1 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-left: 2rem;
}

.q-1 {
  width: 104px;
  height: 102px;
  margin-left: 9rem;
}

.q-2 {
  width: 74px;
  height: 74px;
  margin-top: 5rem;
  margin-left: 2rem;
  border-radius: 50px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.q-3 {
  width: 171px;
  height: 171px;
  margin-left: 11rem;
  margin-top: -7rem;
  border-radius: 100px;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.q-4 {
  width: 99px;
  height: 99px;
}

.what {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 67px;
  line-height: 66px;
  text-align: center;
  margin: 0;
}

.fouth-zag {
  width: 371px;
  height: 30px;
  margin-left: 18rem;
  margin-top: 1rem;
}

.quotes-descr {
  background-color: #ffffff69;
  padding: 3rem 2rem;
  border-radius: 50px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.062),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.quotes {
  width: 73px;
  height: 53px;
}

.to-left {
  margin-left: 4rem;
}

.to-right {
  margin-left: 42rem;
}

.name {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #251c1a;
  margin: 0;
  margin-top: -3rem;
}

.b-law {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: Regular;
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #6e7783;
  text-align: center;
}

.pro-descr {
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: Italic;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -2%;
  text-align: center;
  margin-top: 2rem;
}

.q-5 {
  width: 123px;
  height: 123px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 75px;
  margin-left: 13rem;
  margin-top: -5rem;
}

.q-6 {
  width: 90px;
  height: 90px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  margin-left: 4rem;
  margin-top: -5rem;
}

.q-7 {
  width: 112px;
  height: 112px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
  margin-left: 6rem;
}

.q-8 {
  width: 163px;
  height: 163px;
  margin-left: 14rem;
  margin-top: -4rem;
}

.quadra-2 {
  display: flex;
  padding-top: 13rem;
  flex-direction: column;
  gap: 5.5rem;
}

.arrows {
  text-align: center;
  padding-top: 3rem;
}

/* ////////////////////////////////// */

.ready {
  background-color: #f3eee5;
  padding: 20rem 0;
  padding-bottom: 7rem;
  background-image: linear-gradient(transparent, #f3eee5 500px, #251c1a 750px);
}

.ready-div {
  background-color: #e7e2d8;
  text-align: center;
  padding: 6rem 0;
  padding-bottom: 3rem;
  margin: auto 3rem;
  margin-top: -5rem;
  border-radius: 50px;
}

h4 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.ready-descr {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 20.3px;
  line-height: 30.5px;
  letter-spacing: -2%;
  text-align: center;
  color: #6e7783;
  margin-top: 1rem;
}

.btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 3rem 0;
  margin-bottom: 1rem;
}

.btn-1 {
  background-color: #251c1a;
  color: #fff;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.4px;
  letter-spacing: -2%;
  text-align: center;
  width: 231px;
  height: 45px;
  border: 0px;
}

.btn-2 {
  background-color: #d4a656;
  color: #0c0e0f;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.4px;
  letter-spacing: -2%;
  text-align: center;
  width: 249px;
  height: 45px;
  border: 0px;
}

.no-p {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 13.2px;
  line-height: 17.18px;
  letter-spacing: -2%;
  text-align: center;
  color: #0c0e0f;
}

/* //////////////////////////// */

.footer {
  background-color: #251c1a;
}

.footer-main {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  padding-bottom: 1rem;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

ul {
  display: flex;
  gap: 4rem;
}

ul li {
  list-style: none;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -2%;
  color: #f3eee5;
}

.svgs {
  display: flex;
  gap: 1.5rem;
}

.last-footer {
  display: flex;
  justify-content: space-between;
}

.last-footer {
  padding: 6rem 0;
  padding-top: 1rem;
}

.last-footer p {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -2%;
  color: #f3eee5;
}

.footer hr {
  max-width: 1790px;
}
